/* ---------------------------------------------------------------
    Section Design
----------------------------------------------------------------*/
.section-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-design__title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-text-dark);
}

.section-design__media {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
  width: 100%;
}

.section-design__media-image {
  width: 1728px;
  height: 667px;
  object-position: top;
  object-fit: cover;
}

/* ---------------------------------------------------------------
    Subsections
----------------------------------------------------------------*/
.subsection-size__screen-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background: url("/assets/img/sections/design_sizes_endframe__ckfqlo8f44eq_large_2x.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2rem 0 1.5rem;
  height: 800px;
}

.subsection-size__screen-text,
.section-design__subtitle {
  font-size: 4.5rem;
}

.subsection-size__screen-text {
  color: var(--color-text-dark);
}

.subsection-size__screen-text span {
  display: block;
  font-size: 2rem;
}

.subsection-colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "one three"
    "two three";
  gap: 2rem;
  place-items: center;
  padding: 3rem 0 2rem;
}

.subsection-colors-item.one {
  grid-area: one;
}
.subsection-colors-item.two {
  grid-area: two;
}
.subsection-colors-item.three {
  grid-area: three;
}

/* ---------------------------------------------------------------
    Colornav
----------------------------------------------------------------*/
.colornav {
  width: 100%;
  display: flex;
  justify-content: center;
  border: none;
  margin: 2rem 0 2.5rem;
}

.colornav-items {
  display: flex;
  justify-content: center;
  border: none;
  gap: 2.25rem;
}

.colornav-item {
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50rem;
  background-color: var(--color-blue-link);
  cursor: pointer;
}

.colornav-item.current {
  outline: 2px solid var(--color-blue-link);
  outline-offset: 3px;
}

.colornav-item[data-color="skyblue"] {
  background-color: #c8d8e0;
}

.colornav-item[data-color="silver"] {
  background-color: #e3e4e6;
}

.colornav-item[data-color="starlight"] {
  background-color: #f0e4d3;
}

.colornav-item[data-color="midnight"] {
  background-color: #2e3642;
}

.colornav-label {
  display: none;
  position: absolute;
  font-size: 0.8rem;
  color: var(--color-text-dark);
  text-align: center;
  margin-top: 2.5rem;
}

.colornav-item.current .colornav-label {
  display: block;
}

@media (max-width: 734px) {
  section {
    width: 60%;
  }

  .section-design__media-image {
    width: 100%;
    height: auto;
  }

  .section-design__subtitle {
    font-size: 2.5rem;
  }

  .subsection-size__screen-container {
    height: 350px;
    margin: 3.5rem 0 1rem;
  }


  .subsection-size__screen-text {
    font-size: 2rem;
  }

  .subsection-size__screen-text span {
    font-size: 1.25rem;
  }

  .subsection-colors {
    display: flex;
    flex-direction: column-reverse;
  }

  .subsection-colors-item.one {
    display: none;
  }
}
