<article class="section-design">
  <section>
    <h2 class="section-design__title">Design</h2>
    <p class="section-design__subtitle gradient-text-blue">Leve pelo caminho.</p>
  </section>

  <picture class="section-design__media">
    <source srcset="assets/img/sections/design_hero_static___2x_small.jpg" media="(max-width: 734px)">
    <img class="section-design__media-image" src="assets/img/sections/design_hero_static___2x.jpg"
      alt="Dois notebooks MacBook Air de 13 e 15 polegadas parcialmente abertos">
  </picture>

  <section>
    <p class="description-text">
      <em>Superleve e com pouco mais de 1 cm de espessura</em>, o MacBook Air se encaixa facilmente na correria da sua
      rotina e na sua mochila. O modelo com M4 é feito com mais de 50% de materiais reciclados e o alumínio da estrutura
      resistente também é reciclado.
    </p>
  </section>

  <section>
    <div class="subsection-size">
      <div class="subsection-size__screen-container">
        <p class="subsection-size__screen-text">
          <span>Tela de </span>13 pol.
        </p>
        <p class="subsection-size__screen-text">
          <span>Tela de </span>15 pol.
        </p>
      </div>

      <p>
        <em>Em dois tamanhos perfeitos e portáteis.</em>
        O modelo de 13 polegadas é o melhor notebook para levar com você, e o de 15 polegadas tem mais área de trabalho
        na tela para multitarefa
        <sup><a href="#" aria-label="Nota de rodapé 3">3</a></sup>.
      </p>
    </div>

    <div class="subsection-colors">
      <div class="subsection-colors-item one">
        <img [src]="getImageSrc('side')" alt="Design Side">
      </div>

      <div class="subsection-colors-item two">
        <img [src]="getImageSrc('magsafe')" alt="Design Magsafe">
      </div>

      <div class="subsection-colors-item three">
        <img [src]="getImageSrc('top')" alt="Design Top">

        <fieldset class="colornav">
          <ul class="colornav-items">
            <!-- troca de cor  -->
            <!-- Explicação do funcionamento
              *ngFor="let color of colors"
Essa é uma diretiva estrutural Angular que cria um <li> para cada item do array colors.
[class.current]="selectedColor === color.value"
Isso é o que dá o destaque na bolinha selecionada (aquele contorno que você já tem no CSS).

[ngStyle]="{ 'background-color': color.hex }"
Isso garante que a bolinha tenha a cor exata relacionada à opção de cor do produto.

(click)="onColorChange(color.value)"
Esse método você define no seu .ts para atualizar a cor selecionada e trocar as imagens.
               -->
            <li *ngFor="let color of colors" class="colornav-item" [class.current]="selectedColor === color.value"
              [ngStyle]="{ 'background-color': color.hex }" (click)="onColorChange(color.value)">
              <span class="colornav-label">{{ color.label }}</span>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>


    <p>
      <em>Nova cor. Tudo azul.</em>
      São quatro cores divinas para você escolher. Uma delas é a nova azul-céu. E todos os modelos de MacBook Air vêm
      com
      um cabo MagSafe na mesma cor.
    </p>
  </section>
</article>
