<main class="main">
  <h1 class="main__title">MacBook Air</h1>
  <p class="main__subtitle gradient-text-blue">Velocidade no ar.</p>

  <picture class="main__media">
    <source srcset="assets/img/sections/hero_static__2x_small.png" media="(max-width: 734px)">
    <img class="main__media-image" src="assets/img/sections/hero_static__2x.png"
      alt="Dois notebooks MacBook Air na cor azul-céu abertos e formando uma seta para ressaltar o design fino">
  </picture>

  <div class="main__copy-container">
    <p class="main__copy-text gradient-text-colorful">Feito para Apple Intelligence.</p>
    <a href="#">
      <button>Ver Preços</button>
    </a>
    <p class="main__pricing">A partir de R$ 1.083,25/mês ou R$ 12.999*</p>
    <p class="main__availability">Confira em breve a disponibilidade.</p>
    <p class="main__language">
      A Apple Intelligence já está disponível em português do Brasil
      <sup><a href="#" aria-label="Nota de rodapé 1">1</a></sup>
    </p>

    <div class="main__description">
      <p class="description-text">
        O MacBook Air com chip M4 foi feito para você arrasar em tudo o que faz, com
        <em>até 18 horas de bateria
          <sup><a href="#" aria-label="Nota de rodapé 2">2</a></sup>
        </em>.
        Ele é feito para <em>Apple Intelligence</em> e ajuda a resolver a vida sem esforço
        <sup><a href="#" aria-label="Nota de rodapé 1">1</a></sup>.
        E ficou ainda mais encantador na cor azul-céu. O MacBook Air é tão perfeito e tão portátil que vai para
        qualquer lugar e faz de tudo com você.
      </p>
    </div>
  </div>
</main>
